services:
  astromate-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: astromate-app
    ports:
    - "8501:8501"
    environment:
      - STREAMLIT_SERVER_PORT=8501
      - STREAMLIT_SERVER_HEADLESS=true
    volumes:
      - .:/app
      - /app/.venv # Exclude virtual environment from volume mount
    working_dir: /app
    restart: unless-stopped