@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols&display=swap&text=♈♉♊♋♌♍♎♏♐♑♒♓");

:root {
  --border-color: #3e4044;
  /* --border-radius: 6px; */
  --border-radius: 0.7rem;
  --bg-color: #282d31;
}

.tabulate {
  font-size: 1rem;
  font-family: "Noto Sans Symbols", sans-serif, serif, monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  h4 {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 0.5px solid var(--border-color);
    text-align: center;
  }

  th {
    background-color: var(--bg-color);
    font-weight: normal;
  }

  td,
  th {
    border: 0.5px solid var(--border-color);
    padding: 0.3rem;
  }

  tr {
    &:first-child th {
      &:first-child {
        border-top-left-radius: var(--border-radius);
      }
      &:last-child {
        border-top-right-radius: var(--border-radius);
      }
    }

    &:last-child td {
      &:first-child {
        border-bottom-left-radius: var(--border-radius);
      }
      &:last-child {
        border-bottom-right-radius: var(--border-radius);
      }
    }

    &:nth-child(even) {
      background-color: var(--bg-color);
    }
  }

  &.cross_ref table {
    table-layout: fixed;
  }
}

/* make st.column shrink */
[data-testid="stColumn"] {
  min-width: 60px;
}

/* sidebar min width */
[data-testid="stSidebar"][aria-expanded="true"] {
  min-width: 440px;
}

/* center every child element */
.st-key-chart_svg {
  div,
  p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.stMainBlockContainer {
  padding-top: 4rem;
  padding-bottom: 2rem;
  overflow-x: hidden; /* prevent horizontal scrollbar */
}

.st-key-prev,
.st-key-next {
  & + .stElementContainer {
    display: none;
  }
}

[data-testid="stBottomBlockContainer"] {
  padding-bottom: 1rem;
}

[aria-label="button group"] {
  flex-wrap: nowrap;
}

.st-key-north_node1,
.st-key-north_node2 {
  p {
    white-space: nowrap;
  }
}

.stElementContainer:has(.stAlert) {
  display: none;
}
