@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols&display=swap&text=♈♉♊♋♌♍♎♏♐♑♒♓☉☽☿♀♂♃♄♅♆♇☊⚷⚳⚴⚵⚶☌☍△□⚹⚻");

:root {
  --border-color: #3e4044;
  /* --border-radius: 6px; */
  --border-radius: 0.7rem;
  --bg-color: #282d31;
}

.st-key-stats-ui {
  svg {
    vertical-align: text-top;
    height: 1.3rem;
    width: 1.3rem;
    stroke: white;
    transform: scale(0.8);
  }

  .title {
    font-size: 1.1rem;
    margin: 2rem 0 0.8rem 0.5rem;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 0.5px solid var(--border-color);
    text-align: center;
  }

  th {
    background-color: var(--bg-color);
    font-weight: normal;
  }

  td,
  th {
    border: 0.5px solid var(--border-color);
    padding: 0.3rem;
    font-size: 0.95rem;
    font-family: "Noto Sans Symbols", "Source Sans", sans-serif;
  }

  tr {
    &:first-child td {
      &:first-child {
        border-top-left-radius: var(--border-radius);
      }
      &:last-child {
        border-top-right-radius: var(--border-radius);
      }
    }

    &:last-child td {
      &:first-child {
        border-bottom-left-radius: var(--border-radius);
      }
      &:last-child {
        border-bottom-right-radius: var(--border-radius);
      }
    }

    &:nth-child(odd) {
      background-color: var(--bg-color);
    }
  }

  .cross_ref table {
    table-layout: fixed;
  }
}

/* make st.column shrink */
[data-testid="stColumn"] {
  min-width: 60px;
}

/* sidebar min width */
[data-testid="stSidebar"][aria-expanded="true"] {
  min-width: 440px;
}

/* center every child element */
.st-key-chart_svg {
  div,
  p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.stMainBlockContainer {
  padding-top: 4rem;
  padding-bottom: 2rem;
  overflow-x: hidden; /* prevent horizontal scrollbar */
}

[data-testid="stBottomBlockContainer"] {
  padding-bottom: 1rem;
}

[aria-label="button group"] {
  flex-wrap: nowrap;
}

input[aria-label="North Node"] ~ div p {
  white-space: nowrap;
}
