@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols&display=swap&text=♈♉♊♋♌♍♎♏♐♑♒♓☉☽☿♀♂♃♄♅♆♇☊⚷⚳⚴⚵⚶☌☍△□⚹⚻");

:root {
  --border-color: #3e4044;
  /* --border-radius: 6px; */
  --border-radius: 0.7rem;
  --bg-color: #282d31;
}

.st-key-status_ui {
  .title {
    font-size: 1.1rem;
    margin: 2rem 0 0.8rem 0.5rem;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 0.5px solid var(--border-color);
    text-align: center;
  }

  th {
    background-color: var(--bg-color);
    font-weight: normal;
  }

  td,
  th {
    border: 0.5px solid var(--border-color);
    padding: 0.3rem;
    font-size: 0.95rem;
    font-family: "Noto Sans Symbols", "Source Sans", sans-serif;
  }

  tr {
    &:first-child td {
      &:first-child {
        border-top-left-radius: var(--border-radius);
      }
      &:last-child {
        border-top-right-radius: var(--border-radius);
      }
    }

    &:last-child td {
      &:first-child {
        border-bottom-left-radius: var(--border-radius);
      }
      &:last-child {
        border-bottom-right-radius: var(--border-radius);
      }
    }

    &:nth-child(odd) {
      background-color: var(--bg-color);
    }
  }

  /* step effect */
  .aspect_grid {
    /* tr:nth-child(n + 1) td:nth-child(1), */
    tr:nth-child(n + 2) td:nth-child(2),
    tr:nth-child(n + 3) td:nth-child(3),
    tr:nth-child(n + 4) td:nth-child(4),
    tr:nth-child(n + 5) td:nth-child(5),
    tr:nth-child(n + 6) td:nth-child(6),
    tr:nth-child(n + 7) td:nth-child(7),
    tr:nth-child(n + 8) td:nth-child(8),
    tr:nth-child(n + 9) td:nth-child(9),
    tr:nth-child(n + 10) td:nth-child(10),
    tr:nth-child(n + 11) td:nth-child(11),
    tr:nth-child(n + 12) td:nth-child(12),
    tr:nth-child(n + 13) td:nth-child(13),
    tr:nth-child(n + 14) td:nth-child(14),
    tr:nth-child(n + 15) td:nth-child(15),
    tr:nth-child(n + 16) td:nth-child(16),
    tr:nth-child(n + 17) td:nth-child(17),
    tr:nth-child(n + 18) td:nth-child(18),
    tr:nth-child(n + 19) td:nth-child(19),
    tr:nth-child(n + 20) td:nth-child(20),
    tr:nth-child(n + 21) td:nth-child(21),
    tr:nth-child(n + 22) td:nth-child(22),
    tr:nth-child(n + 23) td:nth-child(23),
    tr:nth-child(n + 24) td:nth-child(24) {
      color: rgba(255, 255, 255, 0.2);
    }
  }
}

/* make st.column shrink */
[data-testid="stColumn"] {
  min-width: 60px;
}

/* sidebar min width */
[data-testid="stSidebar"][aria-expanded="true"] {
  min-width: 440px;
}

/* center every child element */
.st-key-chart_svg {
  div,
  p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.stMainBlockContainer {
  padding-top: 4rem;
  padding-bottom: 2rem;
  overflow-x: hidden; /* prevent horizontal scrollbar */
}

[data-testid="stBottomBlockContainer"] {
  padding-bottom: 1rem;
}

[aria-label="button group"] {
  flex-wrap: nowrap;
}

input[aria-label="North Node"] ~ div p {
  white-space: nowrap;
}

/* align st.toast text position to its icon*/
[data-testid="stToast"] p {
  margin-bottom: 0.6rem;
}

@media (min-width: 768px) {
  .st-key-chart_type_selector {
    margin-bottom: 1rem;
  }
}

[data-testid="stLayoutWrapper"]:has(.st-key-input2_solar_return_page),
[data-testid="stLayoutWrapper"]:has(> .st-key-transit_name2) {
  display: none;
}

[class*="st-key-date-row"] {
  flex-wrap: nowrap;
}

.st-key-random_questions {
  margin-bottom: -2rem;
}
